<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
    <!-- 회원정보 조회 -->
    <select id="getMember" resultType="kr.co.teaspoon.dto.Member">
        select * from member
        where id = #{id}
    </select>

    <!-- 회원가입 -->
    <insert id="memberInsert">
        insert into member
        values(#{id},#{pw},#{name},#{email},#{tel},#{addr1},#{addr2},#{postcode},default,#{birth},default,default)
    </insert>

    <!-- 로그인 -->
    <select id="loginCheck" resultType="kr.co.teaspoon.dto.Member">
        select id, pw, name from member where id = #{id }
    </select>

    <!-- 회원 정보 수정 -->
    <update id="memberEdit">
        update member set pw=#{pw }, name=#{name }, email=#{email }, tel=#{tel }, birth=#{birth }, addr1=#{addr1 }, addr2=#{addr2 }, postcode=#{postcode } where id = #{id }
    </update>

    <!--회원 탈퇴 -->
    <delete id="memberDelete">
        delete from member where id=#{id}
    </delete>

</mapper>