<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="winnerList">

    <!-- 이벤트 전체 참여자 -->
    <select id="applyList" resultType="kr.co.teaspoon.dto.Apply">
        select * from apply where eno=#{eno}
    </select>
    <!-- 5명 당첨자 추첨 -->
    <insert id="random">
        insert into winnerList select * from apply where eno=#{eno} AND eno NOT IN (SELECT distinct eno FROM winnerList) order by rand() limit 5;
    </insert>
    <!-- 5명 당첨자 목록 -->
    <select id="winners" resultType="kr.co.teaspoon.dto.WinnerList">
        SELECT * FROM winnerList where eno=#{eno};
    </select>

    <!--참가자목록 카운트-->
    <select id="applyCount">
        select count(*) from apply where eno=#{eno}
    </select>

</mapper>